<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
        <title>Select Avatar</title>
    </head>
    <body>
        <header>
            <h1>Select Your Avatar</h1>
        </header>
        <main>
            <form action="{{ url_for('set_avatar') }}" method="post">
                <label>
                    <input type="radio" name="avatar" value="Avatar 1" /> Avatar
                    1
                </label>
                <label>
                    <input type="radio" name="avatar" value="Avatar 2" /> Avatar
                    2
                </label>
                <label>
                    <input type="radio" name="avatar" value="Avatar 3" /> Avatar
                    3
                </label>
                <button type="submit">Select Avatar</button>
            </form>
        </main>
    </body>
</html>
